{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('wild_episode', {'slug':episode.slug}) }}">Revenir à l'épisode {{ episode.title }}</a>
{% endblock %}
