{% extends 'base.html.twig' %}

{% block title %}Ajout d'un acteur{% endblock %}

{% block body %}
    <h1>Nouveau acteur</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">back to list</a>
{% endblock %}